.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0em 0;
    position:absolute;
    left:0;
    bottom:0;
    right:0;
  }
  
  .footer-content {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1em;
  }
  
  .social-links {
    margin-top: 0.5em;
  }
  
  .social-links a {
    color: white;
    margin: 0 0.5em;
    text-decoration: none;
  }
  
  .social-links a:hover {
    text-decoration: underline;
  }
